/* =================== CSS Variables =================== */

:root {
    --primary-color: #ff960c;
    --secondary-color: #f2f2f2;
}

/* =================== Common Styles =================== */

html,
body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #111;
    background: transparent;
}

a {
    color: #fff;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

a:focus,
button:focus {
    outline: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

/* =================== Customize Bootstrat =================== */

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background: var(--primary-color) !important;
}

.btn-primary {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.bg-secondary {
    background: var(--secondary-color) !important;
}

.btn-secondary {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

button.navbar-toggler:focus {
    outline: auto var(--primary-color);
}

/* =================== Common Class =================== */

.fa {
    font-size: 15px;
    -webkit-transition: .1s ease-in;
    -o-transition: .1s ease-in;
    transition: .1s ease-in;
}

.fa:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* Text style */

.text-black {
    color: #010101;
}

.text-blue {
    color: #314151;
}

/* Fonts */

.raleway {
    font-family: 'Raleway', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

/* Section Style */

.section-title {
    font-weight: bold;
}

.section-title mark {
    color: var(--primary-color);
    background: transparent;
    border-bottom: 1px solid var(--primary-color);
    padding: 0;
}

/* Preloader */

#preloader {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff url('../img/preloader.gif') no-repeat center;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
}

/* ========= Hover Direction ======== */

.snake_dir {
    position: relative;
    overflow: hidden;
}

.snake_dir .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.snake_dir .overlay>* {
    position: relative;
}

.snake_dir .overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--primary-color);
    opacity: 0.87;
}