/* ========== Large and Down ========== */

@media (max-width: 1199px) {
    .about-blocks figure {
        padding: 60px 20px;
    }
    .services-blocks figure p {
        padding: 0 10px;
    }
}

/* ========== Medium and Down ========== */

@media (max-width: 991px) {
    .page-header .navbar-nav {
        text-align: center;
        /* background: var(--primary-color); */
        background: rgba(0, 0, 0, 0.8);
        margin-top: 25px;
        padding-bottom: 20px;
    }
    .page-header .navbar-nav .nav-item .nav-link {
        position: relative;
    }
    .page-header .navbar-nav .nav-item .nav-link::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 1px;
        background: var(--primary-color);
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
    .page-header .navbar-nav .nav-item .nav-link::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 10px;
        background: var(--primary-color);
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s ease-in-out;
    }
    .page-header .navbar-nav .nav-item.active .nav-link::after {
        width: 100px;
    }
    .page-header .navbar-nav .nav-item .nav-link:hover::after {
        width: 100px;
    }
    .page-header .navbar-nav .nav-item.active .nav-link {
        color: #fff;
        font-weight: bold;
    }
    .about-blocks figure {
        padding: 60px 30px;
    }
    .about-blocks {
        margin-top: 40px;
    }
}

/* ========== Small and Down ========== */

@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }
    .hero-text p {
        width: 98%;
    }
    /* Filter Item width */
    .filter-grid .filter-item {
        width: 50%;
    }
    /* filter button margin right */
    .portfolio-filter .filter-button-group button:not(:last-child) {
        margin-right: 0px;
    }
}

/* ========== Extra Small and Down ========== */

@media (max-width: 575px) {
    /* common style */
    h1 {
        font-size: 40px;
    }
}

/* ========== Mobile Device ========== */

@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }
    /* Filter Item width */
    .filter-grid .filter-item {
        width: 100%;
    }
}

/* ========== Extra Small and Up ========== */

@media (min-width: 576px) {}

/* ========== Small and Up ========== */

@media (min-width: 768px) {
    /* Filter Item width */
    .filter-grid .filter-item {
        width: 33.333%;
    }
}

/* ========== Medium and Up ========== */

@media (min-width: 992px) {
    .services-blocks .s-block:not(:nth-child(3n)) {
        border-right: 1px solid #e3e3e3;
    }
    .services-blocks .s-block:not(:nth-last-child(-n+3)) {
        border-bottom: 1px solid #e3e3e3;
    }
    /* Filter Item width */
    .filter-grid .filter-item {
        width: 20%;
    }
}

/* ========== Large and Up ========== */

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .about-blocks .a-block:first-child {
        padding-right: 25px;
    }
    .about-blocks .a-block:nth-child(2) {
        padding-right: 25px;
        padding-left: 25px;
    }
    .about-blocks .a-block:last-child {
        padding-left: 25px;
    }
}

/* Small to Medium */

@media (min-width: 768px) and (max-width: 991px) {
    .services-blocks .s-block:nth-child(odd) {
        border-right: 1px solid #e3e3e3;
    }
}