/* ======= Page Header ======= */

.page-header .navbar .nav-link {
    color: #fff;
    padding: 17px;
}

.page-header .navbar .nav-item.active .nav-link {
    color: var(--primary-color);
    font-weight: bold;
}

.page-header .navbar.sticky {
    background: rgba(0, 0, 0, 0.57);
    transition: .2s ease-in-out;
}

/* ======= Hero Area ======= */

#hero-area {
    height: 100vh;
    position: relative;
    background-size: cover;
}

#hero-area::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.57);
}

.hero-text {
    position: relative;
    z-index: 5;
}

.hero-text p {
    font-size: 18px;
    width: 85%;
    padding: 1rem;
}

/* Hero mouse */

.hero-mouse {
    position: absolute;
    bottom: 100px;
}

.hero-mouse>span {
    line-height: 47px;
    width: 33px;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: bounce 1s infinite;
    animation-direction: alternate;
}

.hero-mouse>span>span {
    width: 6px;
    height: 9px;
    border: 2px solid var(--primary-color);
    display: inline-block;
    border-radius: 50%;
    animation: rotates 1s infinite;
    animation-direction: alternate;
}

/* Bounce Animation */

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(25px);
    }
}

@keyframes rotates {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(720deg);
    }
}

/* ======= About Us ======= */

#about_us {
    padding: 100px 0 50px;
}

.about-blocks {
    margin-top: 80px;
}

.about-blocks figure {
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 60px;
    transition: .2s ease-in-out;
}

.about-blocks figure h4,
.about-blocks figure>img {
    margin-bottom: 30px;
}

.about-blocks figure p {
    margin-bottom: 0px;
}

/* Hover */

.about-blocks figure:hover {
    box-shadow: 0 10px 30px -1px #ddd;
}

/* ============= Our Services =============== */

#our_services {
    padding: 50px 0;
}

.services-blocks {
    margin-top: 80px;
}

.services-blocks figure {
    text-align: center;
    padding: 60px 0px;
    transition: .2s ease-in-out;
}

.services-blocks figure h4,
.services-blocks figure>img {
    margin-bottom: 30px;
}

.services-blocks figure p {
    margin-bottom: 0px;
    padding: 0 53px;
}

/* Service block */

/* .services-blocks .s-block {
    border-right: 1px solid #e3e3e3;
} */

.services-blocks .s-block {
    border-bottom: 1px solid #e3e3e3;
    transition: .2s ease-in-out;
}

/* .services-blocks .s-block:first-child {
    border-right: 0 !important;
} */

.services-blocks .s-block.color {
    background: var(--primary-color);
    color: #fff;
    box-shadow: 0 10px 30px 2px #ddd;
}

/* Hover */

.services-blocks .s-block:hover {
    box-shadow: 0 10px 30px -1px #ddd
}

/* ================== Our Portfolio ================== */

#our_portfolio {
    padding: 50px 0;
}

.filter-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filter-grid .filter-item figure {
    margin-bottom: 0;
}

.portfolio-filter .filter-button-group {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 80px auto;
    flex-wrap: wrap;
}

.portfolio-filter .filter-button-group button {
    background: transparent;
    color: #000;
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
}

.portfolio-filter .filter-button-group button:focus {
    outline: 0;
}

.portfolio-filter .filter-button-group button:not(:last-child) {
    margin-right: 15px;
}

.portfolio-filter .filter-button-group button.active {
    background: var(--primary-color);
    color: #fff;
    border-radius: 10px;
}

.portfolio-filter .filter-item figure {
    position: relative;
    overflow: hidden;
}

.portfolio-filter .filter-item figure>img {
    width: 100%;
}

.portfolio-filter .filter-item figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.portfolio-filter .filter-item figure figcaption::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    top: 0;
    left: 0;
    opacity: 0.8;
    transition: .2s ease;
}

.portfolio-filter .filter-item figure figcaption>* {
    position: relative;
}

.portfolio-filter .filter-item figure figcaption h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.portfolio-filter .filter-item figure figcaption a {
    border: 2px solid #fff;
    padding: 5px 25px;
    border-radius: 15px;
    margin-top: 5px;
}

.portfolio-filter .filter-item figure figcaption a:hover {
    color: #fff;
    box-shadow: 0 0 5px 0px #eee;
}

/* Hover */