/* ======= Page Header ======= */

.page-header .navbar .nav-link {
    color: #fff;
    padding: 17px;
}

.page-header .navbar .nav-item.active .nav-link {
    color: var(--primary-color);
}

/* ======= Hero Area ======= */

.hero-area {
    height: 100vh;
    position: relative;
    background-size: cover;
}

.hero-area::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.57);
}

.hero-text {
    position: relative;
    z-index: 5;
}

.hero-text p {
    font-size: 18px;
    width: 80%;
    padding: 1rem;
}

/* Hero mouse */

.hero-mouse {
    position: absolute;
    bottom: 100px;
}

.hero-mouse>span {
    line-height: 47px;
    width: 33px;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: bounce 1s infinite;
    animation-direction: alternate;
}

.hero-mouse>span>span {
    width: 6px;
    height: 9px;
    border: 2px solid var(--primary-color);
    display: inline-block;
    border-radius: 50%;
}

/* Bounce Animation */

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(25px);
    }
}

/* ======= About Us ======= */

#about_us {
    padding: 100px 0 50px;
}

.about-blocks {
    margin-top: 80px;
}

.about-blocks figure {
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 60px;
    transition: .2s ease-in-out;
}

.about-blocks figure h4,
.about-blocks figure>img {
    margin-bottom: 30px;
}

.about-blocks figure p {
    margin-bottom: 0px;
}

/* Hover */

.about-blocks figure:hover {
    box-shadow: 0 10px 30px -1px #ddd
}