/* ======= Page Header ======= */

.page-header .navbar {
    margin-top: 10px;
}

.page-header .navbar .nav-link {
    color: #fff;
    padding: 17px;
}

.page-header .navbar .nav-link:hover,
.page-header .navbar.sticky .nav-link:hover {
    color: var(--primary-color);
}

.page-header .navbar .nav-item.active .nav-link {
    color: var(--primary-color);
    font-weight: bold;
}

.page-header .navbar.sticky {
    background: #fff;
    -webkit-box-shadow: 0 0 25px 0px #ccc;
    box-shadow: 0 0 25px 0px #ccc;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    margin-top: 0;
}

.page-header .navbar.sticky .nav-link {
    color: #333;
}

/* ======= Hero Area ======= */

#hero-area {
    height: 100vh;
    position: relative;
    background-size: cover;
}

#hero-area::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.57);
}

.hero-text {
    position: relative;
    z-index: 5;
}

.hero-text p {
    font-size: 18px;
    width: 85%;
    padding: 1rem;
}

/* Hero mouse */

.hero-mouse {
    position: absolute;
    bottom: 100px;
}

.hero-mouse>span {
    line-height: 47px;
    width: 33px;
    text-align: center;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.hero-mouse>span>span {
    width: 6px;
    height: 9px;
    border: 2px solid var(--primary-color);
    display: inline-block;
    border-radius: 50%;
    -webkit-animation: rotates 1s infinite;
    animation: rotates 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* Bounce Animation */

@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(25px);
        transform: translateY(25px);
    }
}

@-webkit-keyframes rotates {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes rotates {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

/* ======= About Us ======= */

#about_us {
    padding: 50px 0;
    margin-top: 50px;
}

.about-blocks {
    margin-top: 80px;
}

.about-blocks figure {
    text-align: center;
    border: 1px solid #e3e3e3;
    padding: 60px;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.about-blocks figure h4,
.about-blocks figure>img {
    margin-bottom: 30px;
}

.about-blocks figure p {
    margin-bottom: 0px;
}

/* Hover */

.about-blocks figure:hover {
    -webkit-box-shadow: 0 10px 30px -1px #ddd;
    box-shadow: 0 10px 30px -1px #ddd;
}

/* ============= Our Services =============== */

#our_services {
    padding: 50px 0;
}

.services-blocks {
    margin-top: 80px;
}

.services-blocks figure {
    text-align: center;
    padding: 60px 0px;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.services-blocks figure h4,
.services-blocks figure>img {
    margin-bottom: 30px;
}

.services-blocks figure p {
    margin-bottom: 0px;
    padding: 0 53px;
}

/* Service block */

.services-blocks .s-block {
    border-bottom: 1px solid #e3e3e3;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.services-blocks .s-block.color {
    background: var(--primary-color);
    color: #fff;
    -webkit-box-shadow: 0 10px 30px 2px #ddd;
    box-shadow: 0 10px 30px 2px #ddd;
}

/* Hover */

.services-blocks .s-block:hover {
    -webkit-box-shadow: 0 10px 30px -1px #ddd;
    box-shadow: 0 10px 30px -1px #ddd
}

/* ================== Our Portfolio ================== */

#our_portfolio {
    padding: 50px 0;
}

.filter-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

.filter-grid .filter-item {
    text-align: center;
}

.filter-grid .filter-item figure {
    margin-bottom: 0;
    display: inline-block;
}

.portfolio-filter .filter-button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 80px auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolio-filter .filter-button-group button {
    background: transparent;
    color: #000;
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: bold;
}

.portfolio-filter .filter-button-group button:focus {
    outline: 0;
}

.portfolio-filter .filter-button-group button:not(:last-child) {
    margin-right: 15px;
}

.portfolio-filter .filter-button-group button.active {
    background: var(--primary-color);
    color: #fff;
    border-radius: 10px;
}

.portfolio-filter .filter-item figure {
    position: relative;
    overflow: hidden;
}

.portfolio-filter .filter-item figure>img {
    width: 100%;
}

.portfolio-filter .filter-item figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding-top: 50px;
}

.portfolio-filter .filter-item figure figcaption::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    top: 0;
    left: 0;
    opacity: 0.8;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}

.portfolio-filter .filter-item figure figcaption>* {
    position: relative;
}

.portfolio-filter .filter-item figure figcaption h5 {
    font-weight: bold;
    margin-bottom: 20px;
}

.portfolio-filter .filter-item figure figcaption a {
    border: 2px solid #fff;
    padding: 5px 25px;
    border-radius: 15px;
    margin-top: 5px;
}

.portfolio-filter .filter-item figure figcaption a:hover {
    color: #fff;
    -webkit-box-shadow: 0 0 5px 0px #eee;
    box-shadow: 0 0 5px 0px #eee;
}

/* Hover */

/* ====================== Testimonials Area ======================== */

.testimonial-area {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 20px 0;
}

.testimonial-area::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.83);
}

.testimonial-area>* {
    position: relative;
}

.testimonial-area .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
    z-index: 9;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.testimonial-area .slick-arrow:hover {
    background: var(--primary-color);
}

.testimonial-area .slick-prev.slick-arrow {
    left: 0;
}

.testimonial-area .slick-next.slick-arrow {
    right: 0;
}

/* Counter UP */

.testimonial-area .counter-up {
    text-align: center;
}

.testimonial-area .counter-up .counter {
    font-size: 50px;
    color: var(--primary-color);
    font-weight: bold;
}

.testimonial-area .counter-up>p {
    font-size: 18px;
    color: #fff;
}

/* ====================== Our Team ========================== */

#our_team {
    padding: 50px 0;
    margin-top: 40px;
}

.team-block .overlay .fa:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px #ccc;
    box-shadow: 0px 0px 10px 0px #ccc;
}

/* ====================== Why Chose Us ========================== */

.why-chose-us {
    padding: 50px 0;
}

/* ====================== Our Pricing ========================== */

#our_pricing {
    padding: 50px 0;
}

.single-price {
    background: var(--secondary-color);
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
    transition: .2s ease-in;
}

.single-price:hover {
    background: var(--primary-color);
    color: #fff;
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}

.single-price a {
    display: block;
    padding: 10px;
    background: transparent;
    color: #000;
    font-weight: bold;
    border: 2px solid #111
}

.single-price:hover a {
    color: #fff;
    border-color: #fff;
}

/* =================== Blog Area ========================== */

.blogs-area {
    padding: 50px 0;
}

.blog-masonry-init .masonry-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog-masonry-init .masonry-item figcaption>a span {
    display: inline-block;
    position: relative;
    padding-right: 15px;
}

.blog-masonry-init .masonry-item figcaption>a span::before {
    content: '\f105';
    font-family: 'fontAwesome';
    position: absolute;
    right: 0;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.blog-masonry-init .masonry-item figcaption>a:hover {
    color: #fff;
}

.blog-masonry-init .masonry-item figcaption>a:hover span::before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px)
}

/* ============================= Contact Us =========================== */

#contact_us {
    padding: 50px 0;
}

.contact-info {
    background: var(--secondary-color);
}

.contact-info .google-map {
    width: 100%;
    height: 100%;
    min-height: 400px;
    display: block;
}

#contact-form {
    padding: 50px 25px;
}

#contact-form .form-control {
    border-radius: 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #cecece;
    margin-bottom: 40px;
    padding: 10px;
}

#contact-form .form-group:focus {
    outline: 0;
}

#contact-form .form-control:focus {
    border-bottom-color: var(--primary-color);
    outline: 0;
}

#contact-form textarea[name="message"] {
    width: 100%;
    height: 150px;
    display: block;
}

/* ====================== Footer =========================== */

.page-footer {
    padding: 50px 0;
    background: var(--secondary-color);
}

.footer-widget figure>img {
    margin-bottom: 40px;
}

.footer-widget .widget-title {
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

.footer-widget .widget-list a {
    color: #111;
    padding: 15px 0;
    font-weight: 500;
}

.footer-widget .address-list {
    line-height: 25px;
}

.footer-copy {
    padding: 40px 0 30px;
    border-top: 1px solid #919191;
    margin-top: 30px;
}